* {
  box-sizing: border-box;
}
body{
  background-color: white;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  margin: 0;
}
.container {
  margin-left: 140px;
  margin-top: 40px;
  max-width: 1200px; 
}
.company_name{
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.navigation a {
  color: black; 
  font-size: 18px;
  font-weight:700;
  padding: 0 20px 0 0;
  text-decoration: none;
}
  
.navigation a:hover{
  transition: color 1s;
  color: #fce592; 
}

.main_photo{
  padding: 10px 0 10px 0;
}
.about{
    text-align: justify;
    line-height: 1.5;
    font-size: 18px;
    width: 800px;
}
ul, ol {
    padding-inline-start: 20px;
}
.advantages{
    text-align: justify;
    line-height: 1.5;
    font-size: 18px;
    width: 800px;
}
th, td{
  border: 1px solid black;
  padding: 12px 15px;
}
table{
  border-collapse: collapse;
  margin: 30px 0;
  width: 100%;
  max-width: 800px;
  font-size: 20px;
  text-align: center;
}
footer{
  background-color: #321832;
  color: #fcf5dc;
  padding: 15px 0;
  font-weight: 600;
  font-size: 15px;
}
.contacts{
  padding-left: 140px;
}
.contacts a {
  color: #fcf5dc; 
  font-size: 14px;
}
.contacts a:hover {
  transition: color 1s;
  color: #fce592; 
  font-size: 14px;
}
